= form_with(model: talk, local: true) do |form|
  - if talk.errors.any?
    #error_explanation
      %ul
        - talk.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :content
    = form.text_area :content, id: :talk_content, class: "form-control"
  .form-group.row
    .col-sm-2
      = form.label :voice_id
    .col-sm-8.btn-group.btn-group-toggle{data:{toggle:"buttons"}}
      - Talk.voice_lists_i18n.each.with_index do |(key, value), i|
        %label.btn.btn-outline-primary{style:"width:50%", class: i==0 ? "active" : ""}
          = form.radio_button :voice_id, key, {checked: i==0 ? true : false}
          = value
  .actions
    = form.submit "つくる", class: "btn btn-primary"
