<p id="notice"><%= notice %></p>

<h1>Amazon Polly 音声合成テスト</h1>
<%= link_to '新規作成', new_talk_path %>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Voice</th>
      <th>Audio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @talks.each do |talk| %>
      <tr>
        <td><%= talk.content %></td>
        <td><%= talk.voice_jp %></td>
        <td>
          <audio
            id="talk"
            controls
            src="<%= '/'+File.basename(talk.audio_path) %>">
            Your browser does not support the <code>audio</code> element.
          </audio>
        </td>
        <td><%= link_to 'Show', talk %></td>
        <td><%= link_to 'Destroy', talk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
