%p#notice= notice
%p
  %strong Content:
  = @talk.content
%p
  %strong Voice:
  = @talk.voice_jp
%p
  %audio#talk{:controls => "", :src => "#{'/'+File.basename(@talk.audio_path)}"}
    Your browser does not support the
    %code audio
    element.
= link_to 'Back', talks_path
